<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Height</th>
      <th>Birth</th>
      <th>Jump</th>
      <th>Trunfo</th>
      <th>Imune</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.description %></td>
        <td><%= card.height %></td>
        <td><%= card.birth %></td>
        <td><%= card.jump %></td>
        <td><%= card.trunfo %></td>
        <td><%= card.imune %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
