<% @games.each do |game| %>
<br>
 - <%= game.description %> (User: <%= game.user.email %> ) (<%= game.players.count %> = <%= number_of_players(game) %>) players - (<%= game.cards.count %> = <%= number_of_cards(game) %>) cards:
    <% game.players.each do |player| %>
<br>
    - - <%= player.name %>: (<%= player.deck %>) {
      <%= player.cards.map {|card| "#{card.name} (#{card.jump})" }.join(',') %>
    }
    <% end %>
<% end %>
