
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>



<p id="notice"><%= notice %></p>
<p>  ----------------------------------------------------------------------</p>
<p>  Status do DB: </p>
<p>  Players: #{<%= @players.count %>} - Games: #{<%= @games.count %>} - Cards: #{<%= @cards.count %>}</p>
<p>  Decks  : #{<%= @decks.count %>} - DeckCards: #{<%= @deck_cards.count %>}</p>
<p>  ----------------------------------------------------------------------</p>
<%= @user %>
<div class="cards">
<h1>Listing Cards</h1>
<%= render :partial => "cards" %>
</div>
<br>

<div class="games">
  <h1>Listing Games </h1>
  Games:
<%= render :partial => "games", locals: {games: @games} %>
</div>

<div class="deckcards">
  <h1> Listing DeckCards </h1>
<%= render :partial => "deckcards", locals: {deck_cards: @deck_cards} %>
</div>

<div class="users">
  <h1> Listing Users</h1>
<%= render partial:"users" %>
</div>

<div class="players">
  <h1> Listing Players</h1>
<%= render partial:"players" %>
</div>
