<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @player.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @player.game %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
