/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require jquery-ui
    */
#messages {
   /* border-radius: 25px; */
    border: 2px solid #000000;
    padding: 10px; 
    height: 150px;    
}
#deck_cards {
   /* border-radius: 25px; */
    border: 2px solid #000000;
    padding: 10px; 
    height: 150px;    
}