
<p id="notice"><%= notice %></p>
<div class="mainscreen">
<p> You are logged as:
  <strong> <%= current_user.email %> </strong>
  (<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>)</p>
<div class="opengames">
<% if @opengames != [] %>
<br><strong> Games with open spots:</strong>
<p><% @opengames.collect do |game| %>
</p>
<li> Game:<%= link_to "#{game.description}", game_path(game) %> </li>
<p> - Number of Players / Spots: [<%= number_of_players(game) %> / <%= game.nplayer %>]</p>
<%= " - Players:" if game.players != [] %>
<%= game.players.map {|player| boldme(player) }.join(",").html_safe %>
<% end %>
<% end %>
</div>

<div class="mygames">
<% if @mygames %>
<br><p><strong>Games with you:</strong></p>
<% @mygames.collect do |game| %>
<p><li> Game:<%= link_to "#{game.description}", game_path(game) %> [<%= game.players.count %> / <%= game.nplayer %>] </li></p>
<%= " - Players:" if game.players != [] %>
<%= game.players.map {|player| boldme(player) }.join(",").html_safe %>
</p>
<% end %>
<% end %>
</div>

<div class="myowngames">
<% if @myowngames %>
<br><p><strong>Games created by you:</strong></p>
<% @myowngames.collect do |game| %>
<p><li> Game:<%= link_to "#{game.description}", game_path(game) %> [<%= game.players.count %> / <%= game.nplayer %>] </li></p>
<%= " - Players:" if game.players != [] %>
<%= game.players.map {|player| boldme(player) }.join(",").html_safe %>
</p>
<% end %>
<% end %>
</div>
<br>
<div class="myplayers">
<% if @myplayers %>
<p><strong>Your Players:</strong>
<%= @myplayers.map {|player| player.name }.join(", ") %></p>
<%# @myplayers.each do |player| %>
  <%#= player.game.description %>
<%# end %>
<% end %>
</div>
<br>
<div class="mydecks">
<% if @mydecks %>
<p><strong>Your Decks:</strong>
<%= @mydecks.map {|deck| deck }.join(", ") %></p>
<% end %>
</div>
<br>
<%= link_to "New Game", new_game_path %>
</div>
