<p id="notice"><%= notice %></p>
<p>
  <strong>Deck <%= @deck.id %> - Description:</strong>
  <%= @deck.description %>
</p>
<p> Used for the
  <strong>Game:</strong>
  <%= @deck.game.description %> -   <%= link_to @deck.game, controller: "games", action:"show", id:@deck.game.id %>
</p>

<p> and belongs to
  <strong>Player:</strong>
  <%= @deck.player.name %> - <%= @deck.player %>
</p>



<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
