<%= form_for(@deck_card) do |f| %>
  <% if @deck_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck_card.errors.count, "error") %> prohibited this deck_card from being saved:</h2>

      <ul>
      <% @deck_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deck_id %><br>
     <%= f.collection_select :deck_id, Deck.where(game:@deck_card.deck.game.id), :id, :player %>
  </div>
  <div class="field">
    <%= f.label :card_id %><br>
    <%= f.text_field :card_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
