<p id="notice"><%= notice %></p>

<h1>Listing Deck Cards</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deck_cards.each do |deck_card| %>
      <tr>
        <td><%= deck_card.deck.game.description %></td>
        <td><%= deck_card.deck.player.name %></td>
        <td><%= deck_card.card.name %></td>
        <td><%= link_to 'Show', deck_card %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(deck_card) %></td>
        <td><%= link_to 'Destroy', deck_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck card', new_deck_card_path %>
