<p id="notice"><%= notice %></p>

<p>
  <strong>Deck:</strong>
  <%= @deck_card.deck %> belongs to <%= @deck_card.deck.player %>
</p>

<p>
  <strong>Card:</strong>
  <%= @deck_card.card %>
</p>

<%= link_to 'Edit', edit_deck_card_path(@deck_card) %> |
<%= link_to 'Back', deck_cards_path %>
