/* line 4, /vagrant/family-trunfo/trunfo/app/assets/stylesheets/cards.scss */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
/* line 11, /vagrant/family-trunfo/trunfo/app/assets/stylesheets/cards.scss */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

/* Add some padding inside the card container */
/* line 16, /vagrant/family-trunfo/trunfo/app/assets/stylesheets/cards.scss */
.container {
  padding: 2px 16px;
}
