<% div_id = "card_id_#{@card.id}" -%>
<div id="<%= div_id -%> draggable" >
<div class="draggable ui-widget-content card ui-draggable ui-draggable-handle" style="width:92%;max-width:300px;">

  <p>
    <strong>Name:</strong>
    <%= @card.name %>
  </p>

   <%= image_tag("img_avatar.png", alt:"Avatar", style:"width:100%") %>
  <div class="container">


<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <strong>Height:</strong>
  <%= @card.height %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @card.birth %>
</p>

<p>
  <strong>Jump:</strong>
  <%= @card.jump %>
</p>

<p>
  <strong>Trunfo:</strong>
  <%= @card.trunfo %>
</p>

<p>
  <strong>Imune:</strong>
  <%= @card.imune %>
</p>
  </div>
  <%= link_to 'Show', @card %>
  <%= link_to 'Edit', edit_card_path(@card) %>
  <%= link_to 'Destroy', @card, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
</div>
  <br>
