<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :jump %><br>
    <%= f.number_field :jump %>
  </div>
  <div class="field">
    <%= f.label :trunfo %><br>
    <%= f.check_box :trunfo %>
  </div>
  <div class="field">
    <%= f.label :imune %><br>
    <%= f.check_box :imune %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
