<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>


<% @cards.each do |card| %>
<% @card = card %>
<%= render partial: 'card', locals: {card: @card} %>


<% end %>

<br>

<%= link_to 'New Card', new_card_path %>
