<p id="notice"><%= notice %></p>

<%= render partial: 'card' %>
<br>
Only to test: TODO remover!!
<ul id="sortable">
  <% 12.times do |i| %>
<li class="ui-state-default"><%= i + 1 %> </li>
 <% end %>
</ul>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
