To no jogoooo!!
<br>
<p><%= "You are @#{@game.description} as #{@myplayers.first.name}" %></p>
<div id='messages' style="overflow-y:scroll;">

<%= render @messages %>
</div>
<br>
<div id='current_cards'>
 <div id='deck_cards' style="overflow-y:scroll;">
<%= render @deck_cards %>
<br>
</div>
</div>
<%= render partial: 'messages/message_form', :locals => {game: @game, player: @myplayers.first, player_name:@myplayers.first.name  } %>





