<h1>New Game</h1>

<%= render 'form' %>
<p>TODO Here the User (creating the game) will be able to choose the subject of the Deck/Cards
This can be: Family, Cars, Planes, Monsters, Dragons, etc</p>
<%= render 'cards/tablecards' %>
<%= link_to 'Back', games_path %>
