<p id="notice"><%= notice %></p>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p> Players / Vagas: [<%= @game.players.count %> / <%= @game.nplayer %>]</p>

<% if @game.nplayer > @game.players.count %>
<div class="newplayer">
<p><%#= "User: #{current_user.email}" %></p>
<div class="field">
<%=  render :partial => "players/form", :locals => {:player => @player, :game => @game, :user => current_user} %>
</div>
</div>
<% else %>
<div id="game">
<% @inthegame = @myplayers.to_a.included_in?(@players.to_a) %>
<%= render partial:"watch" unless @inthegame %>
<%= render partial:"play" if @inthegame %>
</div>

<% end %>
<br>
<%# console %>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
