    <% @gon.watch.myplayer = @myplayers.first %>
    <%#= @gon.myplayer.name %>
    <form>
        <label>Say something:</label><br>
        <textarea class="form-control" data-textarea="message" data-behavior="game_speaker" player_name="<%= @gon.myplayer.name %>"></textarea>
    </form>
    
