$(document).on('turbolinks:load', function() {
  submitNewMessage();
});

<% Game.all.each do |game| %>  
  App['game' + <%= game.id %>] = App.cable.subscriptions.create({channel: 'GameChannel', game: <%= game.id %>}, {  
  
  received: function(data) {
  // alert(JSON.stringify(data)) // wanna see it all?
  //- Hey you!? NO peeking at another game room... 
  //- Why not?
  //- Hmm... is it a Client decision? Go, go, go... 
   if (gon.game.id == <%= game.id %>) {
      $('#messages').append(data);
       $("#current_cards").load(location.href + " #deck_cards");
        $("#messages").scrollTop($("#messages")[0].scrollHeight);
   }
  },

  setGameId: function(gameId) {
    this.gameId = gameId
  },
  
 
    speak: function(data) { 
    // How to get this?
    gon.global.chat_player_id = data.player
    gon.global.chat_player_name = data.player_name
    
    // alert(gon.global.chat_player_id)
    // alert(gon.global.chat_player_name)
    return this.perform('speak', {message: data.message, game:data.game, player:data.player, player_name:data.player_name}); 
    }
});
<% end %>
<%# TODO  submitNewMessage %>
function submitNewMessage(){  
  $('[data-behavior~=game_speaker]').keydown(function(event) {
    if (event.keyCode == 13) {
       var msg = event.target.value;
       var gameId = gon.game.id
       var playerId = gon.myplayer.id
       gon.global.chat_player_name = gon.myplayer.name
       var playerName = gon.global.chat_player_name
       App['game' + gameId].speak({message: msg, game: gameId, player: playerId, player_name:playerName})
       $('[data-textarea="message"]').val("")
      
       return false;
     }
  });
    }
    


